* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI',sans-serif;
}

.forgot-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef4fb;
}

.forgot-card {
  width: 430px;
  background: white;
  padding: 45px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,.12);
}

.logo {
  width: 110px;
  margin-bottom: 25px;
}

h2 {
  color: #1565C0;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 25px;
  line-height: 26px;
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}

  input:focus {
    outline: none;
    border-color: #1565C0;
    box-shadow: 0 0 8px rgba(21,101,192,.25);
  }

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #1565C0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

  button:hover {
    background: #0D47A1;
  }

a {
  display: block;
  margin-top: 22px;
  text-decoration: none;
  color: #1565C0;
  font-weight: 600;
}

  a:hover {
    text-decoration: underline;
  }
