USE [master]
GO
/****** Object:  Database [ProjectManagement]    Script Date: 01-07-2026 23:47:04 ******/
CREATE DATABASE [ProjectManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01-07-2026 23:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 01-07-2026 23:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItems]    Script Date: 01-07-2026 23:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItems](
	[TaskItemId] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TaskItems] PRIMARY KEY CLUSTERED 
(
	[TaskItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-07-2026 23:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260629151750_InitialCreate', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [Description], [StartDate], [DueDate], [Priority], [Status], [UserId]) VALUES (1, N'Employee Management System', N'A web-based employee management system to manage employee records, departments, attendance, leave requests, payroll, and performance efficiently.', CAST(N'2026-07-22T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-28T00:00:00.0000000' AS DateTime2), N'Medium', N'Not Started', 2)
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [Description], [StartDate], [DueDate], [Priority], [Status], [UserId]) VALUES (2, N'Inventory Management System', N'Create a system to monitor stock levels, suppliers, and inventory transactions.', CAST(N'2026-06-20T00:00:00.0000000' AS DateTime2), CAST(N'2026-10-16T00:00:00.0000000' AS DateTime2), N'Low', N'In Progress', 4)
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [Description], [StartDate], [DueDate], [Priority], [Status], [UserId]) VALUES (3, N'Payroll Management System', N'Develop software to automate employee salary calculation and payslip generation.', CAST(N'2026-05-14T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-16T00:00:00.0000000' AS DateTime2), N'High', N'Completed', 6)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskItems] ON 

INSERT [dbo].[TaskItems] ([TaskItemId], [TaskName], [Description], [StartDate], [DueDate], [Priority], [Status], [ProjectId], [UserId]) VALUES (1, N'Design Login Page', N'Create a responsive login page with email validation and secure authentication.', CAST(N'2026-07-29T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-29T00:00:00.0000000' AS DateTime2), N'High', N'Not Started', 1, 3)
INSERT [dbo].[TaskItems] ([TaskItemId], [TaskName], [Description], [StartDate], [DueDate], [Priority], [Status], [ProjectId], [UserId]) VALUES (2, N'Develop User Module', N'Implement CRUD operations for employee management.', CAST(N'2026-06-29T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-29T00:00:00.0000000' AS DateTime2), N'Medium', N'In Progress', 1, 2)
INSERT [dbo].[TaskItems] ([TaskItemId], [TaskName], [Description], [StartDate], [DueDate], [Priority], [Status], [ProjectId], [UserId]) VALUES (3, N'Salary Calculation', N'Develop automatic salary calculation based on attendance', CAST(N'2026-08-21T00:00:00.0000000' AS DateTime2), CAST(N'2027-03-12T00:00:00.0000000' AS DateTime2), N'Low', N'Not Started', 3, 7)
SET IDENTITY_INSERT [dbo].[TaskItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Username], [Password], [Role], [IsActive]) VALUES (1, N'HR Admin', N'hr@scasys.com', N'hr.admin', N'HR@123456', N'Admin', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Username], [Password], [Role], [IsActive]) VALUES (2, N'Afreen Akbar Ali', N'afreen@scasys.com', N'hr@scasys.com', N'HR@123456', N'Employee', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Username], [Password], [Role], [IsActive]) VALUES (3, N'Aiswarya Lakshmi', N'aiswarya@scasys.com', N'aiswarya.lakshmi', N'123456', N'Employee', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Projects_UserId]    Script Date: 01-07-2026 23:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_Projects_UserId] ON [dbo].[Projects]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskItems_ProjectId]    Script Date: 01-07-2026 23:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_TaskItems_ProjectId] ON [dbo].[TaskItems]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskItems_UserId]    Script Date: 01-07-2026 23:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_TaskItems_UserId] ON [dbo].[TaskItems]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users_UserId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_Projects_ProjectId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[Login_ValidateUser]    Script Date: 01-07-2026 23:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login_ValidateUser]
(
    @UsernameOrEmail NVARCHAR(100),
    @Password NVARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        UserId,
        FullName,
        Email,
        Username,
        Role
    FROM Users
    WHERE
    (
        Email = @UsernameOrEmail
        OR Username = @UsernameOrEmail
    )
    AND Password = @Password
    AND IsActive = 1;

END
GO
USE [master]
GO
